.banner-principal-decorativo
  &-1
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    width: 100px
    bottom: 40px
    z-index: 99
    @media screen and ( max-width: 1400px)
      left: 8%
      width: 115px
  &-2
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    width: 80px
    top: 180px
    left: -144%
    z-index: 99
    @media screen and ( max-width: 1400px)
      left: -151%
      width: 85px
  &-3
    animation: float1 3.8s ease-in-out infinite alternate
    position: absolute
    width: 81px
    top: 21px
    left: 7%
    z-index: 99
  &-4
    animation: float1 3.9s ease-in-out infinite alternate
    position: absolute
    width: 75px
    top: 15%
    left: 80%
    z-index: 99
  &-5
    animation: float1 2.7s ease-in-out infinite alternate
    position: absolute
    width: 150px !important
    top: 5px
    left: -130%
    z-index: 99
    @media screen and ( max-width: 1400px)
      left: -142%
      width: 80px !important
      top: -4%

.bg1
  background-color: #F3F9FF

.bg2
  background-color: #FFECBE

.bg3
  background-color: #CBEBF2 !important

.fondo1
  background-color: #FFECBE !important

.fondo2
  background-image: url('../assets/curso/tema1/fondo1.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo3
  background-image: url('../assets/curso/tema1/fondoturista.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom

.fondo4
  background-color: #F3F9FF !important

.fondo5
  background-image: url('../assets/curso/tema1/fondoexcursionista.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom

.fondo6
  background-color: #FFB338 !important

.fondo7
  background-image: url('../assets/curso/tema1/fondoslide.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom

.fondo8
  background-color: #FCC52E

.fondo9
  background-image: url('../assets/curso/tema1/fondo3.jpg')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center

.fondo10
  background-image: url('../assets/curso/tema1/tipo1.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo11
  background-image: url('../assets/curso/tema1/tipo2.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo12
  background-image: url('../assets/curso/tema1/tipo3.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo13
  background-image: url('../assets/curso/tema1/fondo4.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom

.fondo14
  background-color: #3D672F !important

.fondo15
  background-image: url('../assets/curso/tema1/fondo5.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo16
  background-image: url('../assets/curso/tema1/fondo6.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center


.fondo18
  background-color: #BECCB9 !important

.fondo19
  background-image: url('../assets/curso/tema1/fondo7.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom

.fondo20
  background-color: #BECCB9
  border-radius: 15px

.fondo21
  background-color: rgba(182, 225, 253, 0.47)

.fondo22
  background-image: url('../assets/curso/tema1/fondogris.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  border-radius: 30px

.fondo23
  background-image: url('../assets/curso/tema1/fondoazul.png')
  background-repeat: no-repeat
  background-position: center
  background-size: 100% 100%

.fondo24
  background-color: #fff !important
  border: 10px solid #FFC9B9

.fondo25
  background-color: #3D672F !important

.fondomundo
  background-image: url('../assets/curso/tema1/fondomundo.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: left

.fondomundo2
  background-image: url('../assets/curso/tema1/fondomundo.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: left

.fondo26
  background-color: #CBEBF2 !important
  padding: 10px
  margin-left: -200px

.fondonaranja
  background-color: #FFB338 

.fondo27
  background-image: url('../assets/curso/tema1/fondo7.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom

.fondo28
  background-image: url('../assets/curso/tema1/fondo8.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo29
  background-image: url('../assets/curso/tema1/fondo9.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo30
  background-image: url('../assets/curso/tema1/fondo13.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo32
  background-color: #fff
  border-radius: 10px
  border: #FFB338 3px solid
  box-shadow: 3px 8px 8px #DF941B

.fondo33
  background-color: #fff
  border-radius: 10px
  border: #5F914E 3px solid
  box-shadow: 3px 8px 8px #3D672F

.fondo34
  background-color: #fff
  border-radius: 10px
  border: #EB6F2D 3px solid
  box-shadow: 3px 8px 8px #CE5F24

.fondo35
  background-color: #D0E0C8
  border-radius: 10px

.fondo36
  background-color: #FFF0CA
  border-radius: 10px

.fondo40
  background-image: url('../assets/curso/tema1/fondo14.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo41
  background-color: #E4F1FE
  padding: 20px

.fondo42
  background-image: url('../assets/curso/tema2/fondo1.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo43
  background-color: #FFF7E5

.fondo44
  background-image: url('../assets/curso/tema2/fondo2.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom

.fondo45
  background-color: #C8D2C4

.fondo46
  background-image: url('../assets/curso/tema2/fondo3.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.sombracajon
  box-shadow: 3px 3px 3px #7070701a

.otrobloque .bloque-texto-g__texto 
  position: relative
  width: 65%
  right: 34%
  background-color: rgba(255, 255, 255, 0.95)

.otrobloque .bloque-texto-g__img
    width: 50%
    position: absolute
    top: -24%
    left: 50%
    background-position: top
    background-size: 100% 108%

.otrobloque2 .bloque-texto-g__img
    width: 50%
    position: absolute
    top: 0
    left: 50%
    background-position: top
    background-size: 100% 108%

.otrobloque2 .bloque-texto-g__texto 
  position: relative
  width: 65%
  right: 34%
  background-color: rgba(255, 255, 255, 0.95)

.subrayar
  text-decoration: underline
  text-decoration-color: #FFB338
  text-decoration-thickness: 5px

.fa-circle:before
  content: "\f111"
  color: #E89C21

.img-infografica-b__modal
  min-height: 500px !important
  width: 90% !important
  position: relative
  left: 50px
  top: 50px

.tarjeta.otra
  height: 400px

.tarjeta.otra2
  height: 530px

.fa-chevron-right:before
  content: "\f054"
  color: #707BA3

.fa-chevron-left:before
  content: "\f053"
  color: #707BA3

.cajon.puntacajon:before
  background-color: #A6C6E6

.cajon.puntacajon2:before
  background-color: #3D672F

.cajon.puntacajon3:before
  background-color: #FCCC7A

.cajon.puntacajon4:before
  background-color: #98B48F

.ampliarambos
  margin-right: -50px
  margin-left: -50px

.tamanotipo
  height: 400px
  width: 300px

.linea-tiempo-d__item--selected .tarjeta--gris
  background-color: #C3E2FD !important
  
.acordion__activo
  background-color: #FFF1D1 !important

.otroacordion 
  .acordion__activo
    background-color: #CBE5FE !important

.otroacordion2 
  .acordion__activo
    background-image: url('../assets/curso/tema1/fondo12.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom

.otratarjetaazul
  .tarjeta--azul
    background-color: #E9F1F9

.otratarjetaazul2
  .tarjeta--azul
    background-color: #FFF5DD

.dimensiones
  width: 37px
  height: 40px
  margin: 0 auto

.size15px
  font-size: 15px

.bordetabla
  border-right: #72799746 3px solid !important

.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #FFCE81 !important
  color: #12263F !important

.tabs-a.color-acento-botones .tabs-a__tab__selected:before
  background-color: #FFCE81 !important

.tabs-a__tab
  background-color: #E8E8E8 !important

.img-infografica__card
  width: 350px !important

.img-infografica-b__modal
  background-color: #F6F6F6 !important

.img-infografica-b__modal__contenido div > *
  color: #12263F !important

.fa-times:before
  color: #707070

.lista-ul__vineta:before
  color: #FFB338

.otralista 
  .lista-ul__vineta:before
    color: #008BD2

.tabla-c th + td
  width: 10% !important

.slyder-a__bullets__item--active
    background-color: #1B3F5E !important
    border-color: #1B3F5E !important
    opacity: 1

.otroslide .slyder-a__bullets__item--active
    background-color: #008BD2 !important
    border-color: #008BD2 !important
    opacity: 1

.otroslide2 .slyder-a__bullets__item--active
    background-color: #EB6F2D !important
    border-color: #EB6F2D !important
    opacity: 1

.otroslide3 .slyder-a__bullets__item--active
    background-color: #0082FF !important
    border-color: #0082FF !important
    opacity: 1

.fa-check:before
  color: #3D672F

.otrocolorcheck 
  .fa-check:before
    color: #EB6F2D

.linea-tiempo-b .linea-tiempo-b__icon:after
  background-color: #008BD2 !important

.linea-tiempo-b__icon:after
  content: ''
  display: block
  width: 25px 
  height: 4px
  position: absolute
  left: 90%
  top: 50%
  transform: translateY(-50%)

.fa-caret-right:before
  content: "\f0da"
  color: #FFB338

.fa-quote-left:before
  color: #FFB338

.fa-quote-right:before
  color: #FFB338

.bloque-texto-b.color-primario:before
  background-color: rgba(255, 236, 190, 0.39)

.bloque-texto-b.color-primario:before
  bottom: 20% !important

.slyder-a__bullets__item 
    background-color: rgba(27,63,94,0.35)
    border: 1px solid rgba(112,112,112,0.35)
    @media (max-width: 490px)
      margin: 0 5px
    @media (max-width: 390px)
      margin: 0 2px

.otroslide .slyder-a__bullets__item 
    background-color: rgba(0,139,210,0.35)
    border: 1px solid rgba(112,112,112,0.35)
    @media (max-width: 560px)
      margin: 0 3px
    @media (max-width: 390px)
      margin: 0 2px

.otroslide2 .slyder-a__bullets__item 
    background-color: rgba(235,111,45,0.35)
    border: 1px solid rgba(112,112,112,0.35)
    @media (max-width: 490px)
      margin: 0 3px
    @media (max-width: 390px)
      margin: 0 2px

.otroslide3 .slyder-a__bullets__item 
    background-color: rgba(0,130,255,0.35)
    border: 1px solid rgba(112,112,112,0.35)
    @media (max-width: 490px)
      margin: 0 3px
    @media (max-width: 390px)
      margin: 0 2px

.otroslide2 .slyder-a__btn--sigt
  background-color: #EB6F2D !important
  background-image: url(../assets/componentes/arrowblanca.svg) !important

.otroslide2 .slyder-a__btn--atrs
  background-color: #EB6F2D !important
  background-image: url(../assets/componentes/arrowblanca.svg) !important

.linea-tiempo-b__row:nth-child(odd) .linea-tiempo-b__icon:after
  @media (min-width: 768px)
    right: 90%

.cajon.color-primario:before
    background-color: #F9D9A2 !important

.anchoimg
  height: 85%

.anchoimg2
  width: 120% !important
  height: 100%

.alinearArriba
  vertical-align: top !important


@media (min-width: 1401px)
  .margenesx
    margin: 0 20px 0 20px
  .justificar
    justify-content: center
  .alto1
    height: 700px
  .alto2
    height: 820px
  .altura
    height: 90% !important
  .fondo31
    background-image: url('../assets/curso/tema1/fondo10.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
  .margen
    margin-top: 20px
  .fondo37
    background-color: #FFECBE
    width: 32%
  .fondo38
    background-color: rgba(95, 145, 78,0.46 )
    width: 32%
  .fondo39
    background-color: #B6E1FD
    width: 32%
  .anchocol
    width: 150px
  .margin-5
    margin-left: 40px !important

@media (max-width: 1400px)
  .margenesx
    margin: 0 20px 0 20px
  .justificar
    justify-content: center
  .alto1
    height: 650px
  .alto2
    height: 700px
  .altura
    height: 92% !important
  .alineacion
    align-items: normal
  .fondo31
    background-image: url('../assets/curso/tema1/fondo10.png')
    background-size: 120% 100%
    background-repeat: no-repeat
    background-position: center
  .margen
    margin-top: 40px
  .fondo37
    background-color: #FFECBE
    width: 32%
  .fondo38
    background-color: rgba(95, 145, 78,0.46 )
    width: 32%
  .fondo39
    background-color: #B6E1FD
    width: 32%
  .anchocol
    width: 150px
  .margin-5
    margin-left: 40px !important

@media (max-width: 1200px)
  .margenesx
    margin: 0 30px 0 30px
  .justificar
    justify-content: start
  .alto1
    height: 500px
  .alto2
    height: 600px
  .altura
    height: 93% !important
  .margen
    margin-top: 60px

@media (max-width: 992px)
  .margenesx
    margin: 0 20px 0 20px
  .justificar
    justify-content: center
  .nomostrar
    display: none
  .alto1
    height: 450px
  .alto2
    height: 520px
  .fondo26
    margin-left: 0
  .alineacion
    align-items: center
  .fondo31
    background-image: url('../assets/curso/tema1/fondo11.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
  .margen
    margin-top: 30px
  .otrobloque .bloque-texto-g__img
    width: 100%
    height: 70% !important
    position: absolute
    top: -14%
    left: 0
    bottom: 0
    background-position: top
    background-size: 100% 108%
  .otrobloque .bloque-texto-g__texto 
    position: relative
    width: 100%
    height: 50%
    left: 0
    background-color: rgba(255, 255, 255, 0.95)
  .otrobloque2 .bloque-texto-g__img
    width: 100%
    height: 70% !important
    position: absolute
    top: 0
    left: 0
    bottom: 0
    background-position: top
    background-size: 100% 108%
  .otrobloque2 .bloque-texto-g__texto 
    position: relative
    width: 100%
    height: 50%
    left: 0
    background-color: rgba(255, 255, 255, 0.95)
  .fondo37
    background-color: #FFECBE
    width: 48%
  .fondo38
    background-color: rgba(95, 145, 78,0.46 )
    width: 48%
  .fondo39
    background-color: #B6E1FD
    width: 48%

@media (max-width: 768px)
  .nomostrar1
    display: none
  .fondo37
    background-color: #FFECBE
    width: 100%
  .fondo38
    background-color: rgba(95, 145, 78,0.46 )
    width: 100%
  .fondo39
    background-color: #B6E1FD
    width: 100%
  .anchocol
    width: 100px
  .linea-tiempo-d__item__content__title 
    height: 80px

@media (max-width: 576px)
  .img-infografica-b__modal
    left: 20px
  .sizeimg
    width: 40% !important
    height: 40% !important
  .tarjeta.otra2
    height: 700px
  .margin-5
    margin-left: 20px !important
    margin-bottom: 0


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)